.body_home {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  height: 40px;
    
  }
  
  .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); /* Adjusted box-shadow */
    padding: 2px;
    width: 100%; /* Set to 100% to take the full width of the container */
    padding-top: .5vh;
    padding-right: 1vw;
  }
  
  .container label {
    display: block;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    margin-top: 1vh;
    
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .container button {
    background-color: #4caf50;
    color: #fff;
    padding: 1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .container p {
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
  }
  .container h6{
    margin-top: 0px;
    color: red;
  }
  
  
  