.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    background-color: rgb(241, 190, 122);
  }
  
  .li {
    margin: 0;
    padding: 15px;
    text-decoration: none;
    color: #8d41e4;
    font-size: small;
    font-weight: normal;
    transition: color 0.3s ease;
  }
  .li:hover{
    color: #8d41e4;
    cursor:copy;
  }

  .card {
    display: flex;
  flex-direction: column;
  
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card .content {
    flex: 1;
  }
  
  .card h5, .card h6  {
        
    margin-bottom: 1vh;
  }
  
  .card p {
    
    max-width: 40vw;
    
    text-align: left;
    color: #555;
  }

  .card img {
    
    
     /* Align the top of the image to the top of the container */
    max-width: 50vw; /* Set the width of the image */
    max-height: 40vh; 
    object-fit: scale-down;

    border-radius: 4px;
    margin-right: 10px;
  }

  